<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" href="#"><span class="pi pi-list" aria-hidden="true"> Lista de
                        Deputados</span>
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/despesas" href="#"><span class="pi pi-money-bill" aria-hidden="true"> Despesas por perlamentar</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="pi pi-chart-bar" aria-hidden="true"> Despesas por partido</span></a>
            </li>
            <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->

        </ul>

    </div>
</nav>