<div class="row col-md-12">

    <div class="col-md-4">
        <p>Informe o nome do parlamentar</p>
        <input type="text" [(ngModel)]="nomeParlamentar" value="{{nomeParlamentar}}" class="form-control">
    </div>
    <div style="margin-left: 2%;" class="col-md-4">
        <p><wbr></p>
        <span class="pi pi-search" (click)="pesquisardeputadoPorNome(nomeParlamentar)"></span>
    </div>

</div>

<div class="row col-md-12">
    <div class="col-md-4" *ngFor="let item of listaParlamentar">
        <p class="cursor" (click)="despesasDaputado(item)"> <img width="150px" height="200px" src="{{item.urlFoto}}"> </p>
        <p class="espacoLabel"> {{item.nome}}</p>
        <p class="espacoLabel"> {{item.siglaPartido}} - {{item.siglaUf}}</p>
    </div>

</div>
