p{
    margin-top: 10%;
    margin-left: 10%;
}

input{
    border-color: #237244;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-left: 10%;
}

.cursor{
    cursor: pointer;
}

table {
    width: 100%;
  }

p{
    text-align: center;
    padding: 3%;
    font-weight: bold;
}

.espacoLabel{
    margin-top: -8%;
}