<div class="row col-md-12">

    <div class="col-md-4">
        <p class="cursor"> <img width="150px" height="200px" src="{{dadosparlamentar.urlFoto}}"> </p>
        <p class="espacoLabel"> {{dadosparlamentar.nome}}</p>
        <p class="espacoLabel"> {{dadosparlamentar.siglaPartido}} - {{dadosparlamentar.siglaUf}}</p>
    </div>

    <div class="col-md-4">
        <p-chart type="line" [data]="data"></p-chart>
    </div>

    <div class="col-md-4">
        <p-chart type="doughnut" [data]="graficoPizza"></p-chart>
    </div>

</div>

<table class="table table-striped">
    <tr style="color: #237244;">
        <td>Mês/Ano</td>
        <td>CNPJ/CPF do fornecedor</td>
        <td>Data do Documento</td>
        <td>Nome do Fornecedor</td>
        <td>N° Documento</td>
        <td>Tipo Despesa</td>
        <td>Tipo Documento</td>
        <td>Valor Documento</td>
        <td>Valor Glosa</td>
        <td>Valor Liquido</td>
        <td>Nota</td>
    </tr>
    <tr *ngFor="let item of despesasParlamentar | paginate: { itemsPerPage: 5, currentPage: paginaAtual }">
        <td>{{item.mes}}/{{item.ano}}</td>
        <td>{{item.cnpjCpfFornecedor}}</td>
        <td>{{item.dataDocumento | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.nomeFornecedor}}</td>
        <td>{{item.numDocumento}}</td>
        <td>{{item.tipoDespesa}}</td>
        <td>{{item.tipoDocumento}}</td>
        <td>{{item.valorDocumento}}</td>
        <td>{{item.valorGlosa}}</td>
        <td>{{item.valorLiquido}}</td>
        <td><a class="pi pi-file-pdf" href="{{item.urlDocumento}}" target="_blank"></a></td>
    </tr>
</table>

<div style="width: 350px;">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
    </pagination-controls>
</div>