<h1>Lista de Parlamentar em Atividade</h1>

<div class="row col-md-12">

    <div class="col-md-4">
        <p>Pesquisar parlamentar</p>
        <input type="text" [(ngModel)]="nomeParlamentar" value="{{nomeParlamentar}}" class="form-control">
    </div>
    <div style="margin-left: 2%;" class="col-md-4">
        <p><wbr></p>
        <span class="pi pi-search" (click)="pesquisardeputadoPorNome(nomeParlamentar)"></span>
    </div>

</div>

<table mat-table [dataSource]="listaDeputado | paginate: { itemsPerPage: 9, currentPage: paginaAtual }" class="mat-elevation-z8">


    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element" class="cursor" (click)="dadosdoDeputado(element)"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="siglaPartido">
        <th mat-header-cell *matHeaderCellDef> Sigla do Partido </th>
        <td mat-cell *matCellDef="let element"> {{element.siglaPartido}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef> UF </th>
        <td mat-cell *matCellDef="let element"> {{element.siglaUf}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="width: 500px;">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
    </pagination-controls>
</div>

<div *ngIf="displayMaximizable">
    <p-dialog [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '80vw'}"
         [baseZIndex]="30000" [draggable]="false" [resizable]="false">
        <app-dados-deputado></app-dados-deputado>
    </p-dialog>
</div>