<div class="row col-md-12">

    <div class="col-md-3">
        <img class="img-responsive" width="200px" height="250px" src="{{dadosDeputado.urlFoto}}">
    </div>

    <div class="col-md-4">
        <p class="tituloImput">Nome Completo</p>
        <p>{{infoemacaodeputado.nomeCivil}}</p>

        <p class="tituloImput">Data de Nascimento</p>
        <p>{{infoemacaodeputado.dataNascimento | date: 'dd/MM/yyyy'}}</p>

        <p class="tituloImput">Partido</p>
        <p>{{infoemacaodeputado.ultimoStatus.siglaPartido}}</p>
    </div>

    <div class="col-md-2">
        <p class="tituloImput">Nome Eleitoral</p>
        <p>{{infoemacaodeputado.ultimoStatus.nomeEleitoral}}</p>

        <p class="tituloImput">Escolaridade</p>
        <p>{{infoemacaodeputado.escolaridade}}</p>

        <p class="tituloImput">Telefone</p>
        <p>(61) {{infoemacaodeputado.ultimoStatus.gabinete.telefone}}</p>
    </div>

    <div class="col-md-2">
        <p class="tituloImput">Situação</p>
        <p>{{infoemacaodeputado.ultimoStatus.situacao}}</p>

        <p class="tituloImput">Endereço Eleitoral</p>
        <p>Gabinete: {{infoemacaodeputado.ultimoStatus.gabinete.sala}} predio:
            {{infoemacaodeputado.ultimoStatus.gabinete.predio}}
            andar: {{infoemacaodeputado.ultimoStatus.gabinete.andar}}
        </p>

        <p class="tituloImput">Email</p>
        <p>{{infoemacaodeputado.ultimoStatus.email}}</p>

    </div>


</div>